---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getCollection } from 'astro:content';

// const allPosts = await Astro.glob('../pages/posts/*.md');
const allPosts = await getCollection('posts');
---

<Layout pageTitle="Blog">
	<main>
		<h1 class="text-red-500">
			{
				allPosts.map(post => (
					<>
						<Card
							title={post.data.title}
							href={`/posts/${post.slug}/`}
							body={post.data.description}
						/>
					</>
				))
			}
		</h1>
	</main>
</Layout>
