---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';

import Theme from './ThemeIcon.astro';
---

<header>
	<nav>
		<Hamburger />
		<Navigation />
		<Theme />
	</nav>
</header>
